
.maincont {
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'dash' 'content';
    width: 98%;
    height: 100vh;
    margin: 10px;
}

.dash {
    width: 100%;
    height: 95vh;
    border-radius: 10px;
    background-color: rgba(196, 243, 243, 0.596);
    grid-area: 'dash';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 40%;
}

.logo img {
    width: 100%;
    object-fit: cover;
}



.content {
    width: 100%;
    height: 95vh;
    border-radius: 10px;
    background-color: rgba(32, 116, 116, 0.13);
    grid-area: 'content';
    margin-left: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.ctime {
    width: 100px;
    height: 30px;
    align-self: flex-end;
    margin-right: 10%;
    
}

.field {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    display: flex;
}

.btnn {
    width: 60px;
    height: 40px;
    background-color: rgb(253, 99, 99);
    border-radius: 5px;
    margin-bottom: 20px;

    
}

.btnn1 {
    margin-left: 5px;
    width: 60px;
    height: 40px;
    background-color: rgb(80, 226, 182);
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.btnn2 {
    margin-left: 5px;
    width: 60px;
    height: 40px;
    background-color: rgb(199, 226, 80);
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.content input {
    width: 60%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(191, 241, 241, 0.705);
}

.content h2 {
    font-family:Playwrite België Vlaams Gewest;
}

.content h1 {
    font-family:Playwrite België Vlaams Gewest;
} 



.profile {
    width: 150px;
    height: 150px;
    background-color: aqua;
    border-radius: 50%;
    
}

